/* 저자 : unchaptered */

@import "../_root.css";

#main {
    margin-top: var(--nav-height-);
    min-height: calc(100vh - var(--nav-height-));
    height: auto;
}

/* 반응형 조절기 */
@media screen and (min-width: 1201px) {
    .main-sizer {
        width: var(--responsive-big-);
        margin-right: 0 auto;
        padding-left: var(--responsive-padding-tiny-);
        padding-right: var(--responsive-padding-tiny-);
    }
}
@media screen and (max-width: 1200px) {   
    .main-sizer {
        width: var(--responsive-small-);
        padding-left: var(--responsive-padding-small-);
        padding-right: var(--responsive-padding-small-);
    }
}
@media screen and (max-width: 1000px) {
    .nav_menu_details {
        padding-left: var(--responsive-padding-medium-);
        padding-right: var(--responsive-padding-medium-);
    }
}
@media screen and (max-width: 800px) {
    .nav_menu_details {
        padding-left: var(--responsive-padding-big-);
        padding-right: var(--responsive-padding-big-);
    }
}