@import "../_root.css";

.feed_container {
    margin-top: var(--feed-margin-top-);
    width: 100%;
    height: auto;
}
.feed_guider {
    height: 50px;
    gap: 10px;
    display: flex;
    align-items: center;
}
.feed_guider > a {
    cursor: pointer;
}

.guider-sizer {
    gap: 10px;
    display: flex;
}
.feed-sizer {
    height: auto;
}

.feed-diplay > a {
    grid-column: span 2;
}
.feed_title {
    font-size: 24px;
    font-weight: 700;
    margin: 10px;
}
.feed-diplay {
    gap: 15px 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

@media screen and (min-width: 1201px) {
    .guider-sizer,
    .feed-sizer {
        margin: 0 auto;
        width: var(--responsive-big-);
        padding-left: var(--responsive-padding-tiny-);
        padding-right: var(--responsive-padding-tiny-);
    }
}
@media screen and (max-width: 1200px) {
    .feed-sizer {
        width: var(--responsive-small-);

        padding-left: var(--responsive-padding-small-);
        padding-right: var(--responsive-padding-small-);
    }
}
@media screen and (max-width: 1000px) {
    .feed-sizer {
        padding-left: var(--responsive-padding-medium-);
        padding-right: var(--responsive-padding-medium-);
    }
}
@media screen and (max-width: 800px) {
    .feed-diplay > a {
        grid-column: span 4;
        padding-left: var(--responsive-padding-big-);
        padding-right: var(--responsive-padding-big-);
    }
}

/* 내부 요소 */
.feed_img_container {
    width: 100%;
    height: auto;
}
.feed_img_container > img {
    width: 100%;
}
.feed_content > h2, h3, h4 {
    text-align: center;
}
.feed_content > h2 {
    font-size: 20px;
    font-weight: 300;
}
.feed_content > h3,h4 {
    font-size: 13px;
    font-weight: 300;
    color: darkgray;
}

/* Guider */