/* 저자 : sunsetkk */
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.content{
    padding: 150px 0px;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
    font-family: 'GowunDodum-Regular';
    font-weight: bold;
}



.registerInput{
    /* background-color: #3D3F40; */
    display: grid;
    gap: 10px;
    width: 1015px;
    height: 600px;
    grid-template-columns: 250px 220px 220px 270px;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-rows: repeat(12,1fr);
    grid-template-areas: 

    "img . . ."

    "img title title writer"
    "img subtitle subtitle translater"
    "img publisher publisher pages"
    "img genre genre price"
    "img created created mount"

    "img . . ."

    "info info infoShort infoShort"
    " info info infoShort infoShort"
    " info info infoShort infoShort"
    " info info infoShort infoShort"
    " btn btn btn btn"
    
    ;
}

.imageUpload {grid-area: img;}
.title{grid-area: title;}
.subtitle{grid-area: subtitle;}
.created{grid-area: created;}
.publisher{grid-area: publisher;}
.genre{grid-area: genre;}
.writer{grid-area: writer;}
.translater{grid-area: translater;}
.price{grid-area: price;}
.pages{grid-area: pages;}
.btn{grid-area: btn;}
.info{grid-area: info;}
.infoShort{grid-area: infoShort;}
.btn{grid-area: btn;}
.mount{grid-area: mount;}

/* design */

#info, #infoShort{resize: vertical;}
.star {color: tomato;}
.textCnt{
    font-size: small;
    font-weight: lighter;
    float: right;
}
.info, .infoShort{padding: 5px;}
.infoShort > textarea,
.info > textarea{
    width: 460px;
    height: 150px;
    padding: 10px;
}

.registerInput > label > input{
    float: right;
    height: 35px;
    padding: 5px;
}

.genre > sup{
	margin-right : 60px;
}

.genre > select{
    border-radius: 5px;
    margin-left: 60px;
    width: 180px;
    height: 35px;
    padding: 5px;
}
.genre > select:last-child{
    margin-left: 10px;
    width: 150px;
    float: right;
}
.created > input{
    margin-right: 200px;
}

.registerInput > label > input,
.registerInput > label > textarea,
.btn > input, .genre > select{
    border: 1px solid #ccc;
    /* padding: 5px 5px 5px 150px; */
}
.registerInput > label > input:focus,
.registerInput > label > textarea:focus,
.btn > input:focus, .genre > select:focus{
    outline:none;
    border:1px solid #778899;
}
.btn > input{
    float: right;
    padding: 10px;
    background-color: #DA4444;
}

#regReset,
#regSubmit{
    margin: 20px;
    border: 1px solid #ccc;
    background-color: #c4c4c4;
    color: white;
    /* padding: 10px; */
    width: 200px;
    border-radius: 3px;
    /* width: 200px; */
}

#regReset:focus,
#regSubmit:focus,
#regReset:hover,
#regSubmit:hover{
    outline: none;
    border: 1px solid #778899;
    color: black;
}


#title, #subtitle, #publisher {
    width: 350px;
    height: 35px;
    padding: 5px;
}

/* image */
.sizeInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 110px; */
    font-weight: lighter;
    color: #acacac;
}
.imageUpload{
    /* flex 기본 방향은 가로 */
    display: flex;
    flex-direction: column;
    /* align-items 기본방향 * 90도 방향을 바라보고 중앙을 잡아요 */
    align-items: center;
    /* justify-contents 기본방향을 보고 중앙을 잡아요 */
    justify-content: center;
}

.imgShow{
    height: 288px;
    width: 200px;
    border: 3px double #c4c4c4;
    background-size: contain;
    /* margin: 30px 0px; */
}

.imgSubmit{
    float: right;
    background-color: #c4c4c4;
    color: white;
    /* padding: 1px 10px; */
    /* border-radius: 1px; */
}




@media screen and (max-width:768px) {
    .content{width: 100%;}
    .registerInput{
        /* background-color: aqua; */
        /* display: grid; */
        width: 600px;
        height: 1300px;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(18,1fr);
        grid-template-areas: 
        "img img img img"
        "img img img img"
        "img img img img"
        "img img img img"
        "img img img img"

        "title title title title"
        "subtitle subtitle subtitle subtitle"
        "publisher publisher publisher publisher"

        "genre genre genre genre"
        "pages pages mount mount"
        "writer writer created created"
        "translater translater price price"

        "info info infoShort infoShort"
        "info info infoShort infoShort"

        "info info infoShort infoShort"
        "info info infoShort infoShort"
        "info info infoShort infoShort"
        "btn btn btn btn"
        ;
    }

    .genre > sup{
	margin-right : 115px;
	}
    select#genre {
        margin-left: 0px;
        margin-right: 50px;
    }

    #title, #subtitle, #publisher {
        width: 350px;
        height: 35px;
        padding: 5px;
        margin-right: 50px;
    }
    .registerInput > label{
        margin-left: 40px;
    }
    
    #info, #infoShort{
        width: 240px;
        height: 250px;
    }

    .created > input{
        margin-right: 0px;
    }
    .pages > input{
        margin-right: 0px;
    }
    #regReset, #regSubmit{
    width: 150px;
    }
    #regReset{
    margin-right: 100px;
    }
}