/* 저자 : 김명현 */
/* 아래 페이지 버튼 */
.pagination{
	width:1100px;
    padding:40px 0 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin : 0 auto;
    line-height: 1;
}
.pagination .pagtable{
	display: inline-block;
}
.pagtr{
	text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}
.pagination .pagtr .pagbtn{
	text-align: center;
    justify-content: center;
    align-items: center;
    margin : 0 auto;
}
 .pagination a{
		padding:5px;
		width:20px;
		height:20px;
	}
	.nowPage{
		/* padding:5px;
		display:inline-block;
		border-radius:3px;
		background-color: #c07025;
		color:#fff;
		font-weight: bold;
		width:30px;
		height:30px; */
		display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
	}
	.nowPage:hover{
	background-color: #c07025;
    border-radius: 3px;
	}
	.pagbtn2{
		padding:5px;
		display:inline-block;
		border-radius:3px;
		background-color: #c07025;
		color:#fff;
		font-weight: bold;
		width:30px;
		height:30px;
	}
	a.write{
	padding:5px;
		width:70px;
		height:25px;
		text-align: center;
	} 
	.pagination a:hover{
		background-color:#c0c0c0;
	}
/* 아래 페이지 버튼 */

/* 장바구니 */
#basket a{
    position: fixed;
    right: 0;
    top: 100px;
    background: rgb(194, 190, 190);
    width: 120px;
    text-align: center;
    border-radius: 15px;
}
#basket a:hover{
    background: rgb(238, 125, 60);
    color: azure;
}
/* 장바구니 */