/* 저자 : 김명현 */
/* 아래 페이지 버튼 */
.pagination{
	width:1100px;
    padding:40px 0 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin : 0 auto;
    line-height: 1;
}
.pagination .pagtable{
	display: inline-block;
}
.pagtr{
	text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}
.pagination .pagtr .pagbtn{
	text-align: center;
    justify-content: center;
    align-items: center;
    margin : 0 auto;
}
 .pagination a{
		padding:5px;
		width:20px;
		height:20px;
	}
	.nowPage{
	color : white;
	background-color: #c07025;
    border-radius: 3px;
	display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
	}
	.nowPage:hover{
	background-color: #e09d61;
    border-radius: 3px;
	}
	.pagbtn2{
	color : white;
	background-color: #c07025;
	display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
	}
	.pagbtn2:hover{
	background-color: #e09d61;
	display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
	}
	a.write{
	padding:5px;
		width:70px;
		height:25px;
		text-align: center;
	} 
/* 	.pagination a:hover{
		background-color:#c0c0c0;
	} */
/* 아래 페이지 버튼 */