/* 저자 : carpriceksy */
strong{
    font-weight: normal;
}
ul, li{
    list-style: none;
}
.main_content {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    min-height: calc(100vh - 86px);
}
.title{
    font-size: 30px;
    display: block;
    text-align: center;
    font-weight: normal;
    margin: 80px 0px 40px 0px;
    border-bottom:2px solid #e5e5e5;
    padding: 20px 0;
}

/* 공지사항 테이블 */
.board_count{
    margin-bottom: 10px;
    font-size: 16px;
    color: #3c3c3c;
}
.board_count>span:first-child{
    color: #ec343f;
}
.board_count>span{
    font-weight: bold;
}
.notice_table{
    position: relative;
    width: 100%;
    border-top: 2px solid #000;
    border-bottom: 1px solid #dadada;
    line-height: 20px;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
}
.col{
    width: 80px;
}
tr{
    border-top: 1px solid #f1f1f1;
}

th{
    background-color: #e5e5e5;
    border-bottom: 1px solid #dadada;
    font-size: 16px;
    padding: 14px 0;
    vertical-align: middle;
    text-align: center;
    color: #545861;
}
td{
    text-align: center;
    font-size: 15px;
    padding: 15px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333333;
}
.alert>.board_num{
    text-indent: -9999px;
    background: url(../../../img/icon_notice.png) no-repeat center center;
    background-size: 24px;
}
.board_tlt{
    text-align: left;
    padding: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* word-break: break-all; */
    white-space: nowrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.board_tlt>a{
    font-size: 15px;
    color: #333333;
    font-weight: 400;
}

/* 공지사항 작성 버튼 */
.createNotice{
    float: right;
    margin: 20px 5px;
    padding: 10px 20px;
    background-color: #3b3b3b;
    color: #fff;
    font-size: 15px;
}

/* 페이지 번호 */
.page{
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    clear: both;
}
.page li{
    display: inline-block;
    padding: 3px;
    /* border: 1px solid #e9e9e9; */
}
.pageBtn{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #333;
    border: 1px solid #c7c7c7;
    background: #fff;
    font-size: 15px;
    text-align: center;
}
.current, .pageNum:hover{
    border: 1px solid transparent;
    background-color: #df434d;
    color: #fff;
    font-weight: bold;
}
.next, .prev{
    text-indent: -9999px;
    margin: 0 25px;
}
.next{
    background: url("../../../img/page_arrow_right.png") no-repeat center center;
    background-size: 16px;
}
.prev{
    visibility: hidden;
    background: url("../../../img/page_arrow_left.png") no-repeat center center;
    background-size: 16px;
}

/* 검색창 */
.notice_search{
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid #ec343f;
    width: 35%;
}
#n_search{
    /* width: 320px; */
    width: 90%;
    height: 40px;
    padding: 0 15px;
    font-size: 15px;
    border: none;
}
#n_search:focus{
    outline: none;
    /* border: 2px solid #ec343f; */
}
#n_search:focus::-webkit-input-placeholder{
    color: transparent;
}
#searchBtn{
    position: relative;
    right: 5px;
    bottom: 5px;
    width: 30px;
    line-height: 30px;
    font-size: 0;
    border: none;
    background: url("../../../img/icon_search.png") no-repeat center center;
    background-size: cover;
}
input[type=submit]{
    cursor: pointer;
}


/* 태블릿 */
@media screen and (max-width: 1200px) {
    .main_content {
        width: 100%;
        height: auto;
    }
    .board_count{
        width: 95%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    /* 테이블 */
    .notice_table{
        display: block;
    	width: 95%;
    	margin: 0 auto;
    }
    thead{
        display: none;
    }
    tbody{
        display: block;
        width: 100%;
        border-top: 1px solid #DDD;
    }
    tr{
    	display:block;
    	width:100%;
        position: relative;
        border-bottom: 1px solid #DDD;
        padding: 15px 10px;
        box-sizing: border-box;
        overflow: hidden;
    }
    td{
        width: 100%;
        border-bottom: 0;
        padding: 0;
        text-align: left;
        box-sizing: border-box;
    }
    .board_num, .board_file{
        display: none;
    }
    .board_tlt, .board_writer, .board_date, .board_hit{
        display: block;
    }
    .board_tlt{
    	margin-bottom: 5px;
    }
    .board_tlt a{
        width: 100%;
        text-overflow: ellipsis;
        overflow:hidden;
        display: block;
        text-align: left;
    	font-size: 18px;
    }
    .board_tlt a::after{
        content: "";
        display: table;
        clear: both;
    }
    .alert .board_tlt a strong{
        position: relative;
    }
    .alert .board_tlt a strong::before{
        content: "[공지]";
        display: inline-block;
        color: transparent;
        text-indent: -20px;
        padding-left: 5px;
        background: url(../../../img/icon_notice.png) no-repeat center center;
        background-size: 20px;
    }
    .board_writer, .board_date, .board_hit{
        display: block;
        float: left;
    	width: auto;
    	text-align: right;
    	font-size: 13px;
        color: #545861;
    }
    .board_writer{
        padding-right: 10px;
    }
    .board_hit{
        margin-left: 10px;
        position: relative;
    }
    .board_hit::before{
    	content: "조회수 ";
        /* padding-right: 10px; */
    }
    /* 검색창 */
    .notice_search{
        width: 40%;
        margin-top: 10%;
        margin-bottom: 0;
    }
    #n_search{
        font-size: 13px;
        width: 88%;
    }
    /* 공지사항 등록 버튼 */
    .createNotice{
    	margin: 15px 15px 15px 0;
    }
    
}

/* 모바일 */
@media screen and (max-width: 768px) {
    .main_content {
        width: 100%;
        height: auto;
    }
    /* 공지사항 작성 버튼 */
	.createNotice{
		font-size: 13px;
		padding: 10px 15px;
		margin: 15px 10px 15px 0;
	}

    /* 페이지 */
    .page{
        margin: 0 auto;
    }
    .page li{
        padding: 1px;
    }
    .pageBtn{
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 13px;
    }
    .prev, .next{
        background-size: 12px;
        margin: 0 5px;
    }
    
    /* 검색창 */
    .notice_search{
        width: 60%;
        margin-top: 10%;
        margin-bottom: 0;
    }
    #n_search{
        font-size: 13px;
        width: 87%;
    }
}