/* 저자 : carpriceksy */

.main_content {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    min-height: calc(100vh - 86px);
}

.title{
    font-size: 30px;
    display: block;
    text-align: center;
    font-weight: normal;
    margin: 80px 0px 20px 0px;
    border-bottom:2px solid #e5e5e5;
    padding: 20px 0;
}

/* 공지사항 제목 */
.detail_title{
    font-size: 24px;
    padding: 20px;
    color: #545861;
    float: left;
    width: 100%;
}
/* 게시물 정보 바 */
.detail_sub{
    display: inline-block;
    text-align: left;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    background-color: #f9f9f9;
    width: 100%;
    font-size: 14px;
}
.sub{
    display: inline-block;
    padding: 12px 35px 12px 22px;
}
.sub p{
    display: inline-block;
    text-align: right;
    color: #545861;
    font-weight: bold;
}
.sub span{
    display: inline-block;
    padding-left: 20px;
    color: #545861;
}
#fileDownLoad{
    position: relative;
    top: 2px;
}


/* 공지사항 상세 내용 */
.detail_content{
    width: 100%;
    min-height: 200px;
    padding: 30px 20px;
    border-bottom: 1px solid#e5e5e5;
    font-size: 16px;
    color: #333333;
    word-break: break-all;

}
.content_txt{
    white-space: pre-line;
}
.content_txt p{
    word-break: break-all;
    line-height: 30px;
    word-spacing: 2px;
}

/* 수정, 삭제 버튼 */
.noticeReadBtn{
    text-align: center;
}
.noticeReadBtn .readBtn{
    padding: 10px 20px;
    background-color: #3b3b3b;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin: 30px 5px 10px 5px;
}

/* 이전, 다음 버튼 */
.notice_detail_nav{
    display: inline-block;
    padding : 13px 0;
    width: 100%;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    margin-top: 20px;
}
.notice_prev{
    float: left;
    position: relative;
    width: 40%;
}
.notice_next{
    float: right;
    position: relative;
    text-align: right;
    width: 40%;
}
.notice_detail_nav a{
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    color: #545861;
}
.notice_detail_nav p{
    display: inline-block;
    margin: 0 10px;
}
.goList_div{
    margin-top: 15px;
	text-align:center;
}
.goList{
    padding: 9px 20px;
    border: 1px solid #cfcfcf;
    color: #3b3b3b;
    font-size: 15px;
}

/* 태블릿 */
@media screen and (max-width: 1200px) {
    .main_content {
        width: 100%;
        height: auto;
    }
    
    .notice_prev{
        margin-left: 10px;
    }
    .notice_next{
        margin-right: 10px;
    }
}

/* 모바일 */
@media screen and (max-width: 768px) {
    .main_content {
        width: 100%;
        height: auto;
    }
    .detail_title{
    	font-size: 22px;
        text-align: center;
    }
    .detail_sub{
    	font-size: 14px;
        text-align: center;
    }
    .sub{
    	padding: 12px 10px 12px 13px;
    }
    .sub>span{
    	padding-left: 10px;
    }
    #fileDownLoad{
    	right: 10px;
    }
    .content_txt{
    	font-size: 15px;
    }
    .notice_prev{
        margin-left: 10px;
    }
    .notice_next{
        margin-right: 10px;
    }
}