/* 저자 : jungbc1 */

/* float 레이아웃 사용할때, footer 위로 안올라오게 */
/* #shop::after{
    content: "";
    display: block;
    clear: both;
} */

.shop_content > h2{
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    margin: 80px 0px 40px 0px;
    padding: 20px 0;
}
.shop_content h3{
    text-align: center;
    padding-bottom: 5px;
    background-color: rgb(17, 112, 136);
    color: white;
}
#right_box{
    width: 40%;
    float: right;
    /* position: fixed;
    right: 0; */
    background-color: #fff;
}
#right_box > div{
    padding: 10px 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
#right_box p > span{
    display: inline-block;
    width: 180px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
#right_box input{
    height: 24px;
}
#delivery_info #correct_user{
    margin-left: 5px;
}
#delivery_info h3+p{
    text-align: right;
    /* padding-right: 45px; */
}
#guest_info p{
    padding-left: 15px;
}
#delivery_info p{
    padding-left: 15px;
}
#postcode{
    right: 0;
    width: 100px;
    margin-right: 8px;
}
#postcode+input[type=button]{
    border: 1px solid rgb(118,118,118);
    vertical-align: middle;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    width: 65px;
}
#payment_info #cards{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
#payment_info #pays{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
#payment_info #cards a img, #pays a img{
    display: block;
}
#payment_info #cards a, #pays a{
    text-align: center;
}

#products{
    width: 60%;
    float: left;
    padding: 10px 15px;
}
#products > h3{
    margin-bottom: 10px;
}
#products > div{
    clear: both;
    padding-top: 10px;
}
#products > div:nth-child(n+2){
    border-top : 1px solid #ddd;
}

#products > div > a {
    float: left;
    padding: 0 10px;
    margin-bottom: 10px;
}
#products img{
    display: inline-block;
    width: 72px;
    height: 106px;
}
#products > div > div > p {
    padding: 3px;
}
#products > div > div > p span{
    display: inline-block;
    width: 100px;
    font-weight: 300;
}
#products #total {
    padding-top: 20px;
    font-size: 24px;
}
#products #total p span+span{
    color: #f74451;
}
#products #total p span{
    color: #444;
    padding-right: 10px;
}

#products #total label{
    font-size: 16px;
    font-weight: 300;
}
#products #total > button {
    background-color: #f74451;
    color: white;
    width: 100%;
    height: 40px;
    font-weight: bold;
    margin-top: 10px;
}
#products #total > button:hover{
    background-color: #f52937;
}

#products #total > button+button{
    background-color: darkcyan;
}

#products #total > button+button:hover{
    background-color: rgb(0, 110, 110);
}
#products svg{
    border: 1px solid slategray;
    float: right;
    cursor: pointer;
}

#payment_info .active{
	border: 1px solid slategray;
}