<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>project-2022-01-korea-Books</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>OldBookFrontController</servlet-name>
    <servlet-class>app.book.old.OldBookFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OldBookFrontController</servlet-name>
    <url-pattern>*.ob</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserFrontController</servlet-name>
    <servlet-class>app.user.dao.UserFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFrontController</servlet-name>
    <url-pattern>*.us</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostFrontController</servlet-name>
    <servlet-class>app.postAc.PostFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostFrontController</servlet-name>
    <url-pattern>*.po</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ShopFrontController</servlet-name>
    <servlet-class>app.shop.servlet.ShopFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopFrontController</servlet-name>
    <url-pattern>*.sh</url-pattern>
  </servlet-mapping>
</web-app>