/* 저자 : carpriceksy */
@import url(./event_read.css);

/* 이벤트 제목 */
.goList{
    float: right;
    position: relative;
    top: 63px;
    right: 20px;
    padding: 8px 20px;
    background-color: #3b3b3b;
    color: #fff;
    font-size: 15px;
}
.title{
    clear: both;
}
/* 입력 항목 */
form>p:first-child{
    color: #545861af;
}
.redStar{
    color: red;
    font-size: 18px;
}

.detail_title{
    font-size: 18px;
    padding: 20px;
    color: #545861;
    float: left;
    width: 100%;
}
.write_content{
    margin: 10px 0;
}
.date_start{
    display: inline-block;
    margin-right: 55px;
    text-align: left;
}
.date_end{
    display: inline-block;
    margin-left: 50px;
    text-align: left;
}
.detail_date{
    text-align: center;
}
.detail_date p{
    font-size: 15px;
}
input[type="date"]{
    width: 218px;
    position: relative;
    left: 5px;
    border: 1px solid #cfcfcf;
    margin: 10px;
    padding: 0 20px;
    height: 45px;
    font-size: 15px;
}

input[type="text"]{
    width: 93%;
    position: relative;
    left: 50px;
    font-size: 15px;
    border: 1px solid #cfcfcf;
    margin: 5px 0;
    padding: 0 20px;
    height: 45px;
}

/* 이벤트 배너 등록 */
.fileBtn{
    text-align: center;
    padding: 25px;
    border-bottom: 1px solid #cfcfcf;
}
input[type="file"]{
    width: 1px;
    height: 1px;
    position: absolute;
    left: -9999px;
}
.fileBtn label{
    border: 1px solid #cfcfcf;
    background-color: #e5e5e5;
    padding: 5px 20px;
    cursor: pointer;
}
#showFileName{
    margin: 15px;
}

#updateBtn_img{
    font-size: 14px;
    padding-left: 5px;
}
#updateBtn_img>span{
    padding-left: 5px;
}
#updateBtn_img img{
    display: inline-block;
    background-size: 20px;
    width: 20px;
    height: 20px;
    position: relative;
    top: 2px;
}
#imgPreview{
    width: 100%;

}
/* 이벤트 상세 설명 */
#event-textarea{
    resize: none;
    width: 93%;
    height: 200px;
    position: relative;
    left: 50px;
    font-size: 15px;
    border: 1px solid #cfcfcf;
    margin: 5px 0;
    padding: 20px;
}

/* 알림 */
.inform{
    margin-top: 20px;
}

/* 상품 등록 버튼 */
.uploadEproduct{
    text-align: center;
    margin-top: 50px;
}
#uploadBtn{
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
}

/* 상품 삭제 버튼 */
.deleteBtn{
    margin-top: 15px;
    background-color: #686868e7;
    color: #fff;
    font-weight: bold;
    padding: 6px 10px;
    width: 90px;
    text-align: center;
    font-size: 15px;
}

/* 등록 */
.boardBtn{
    text-align: center;
    margin-top: 50px;
}
input[type="submit"]{
    font-weight: bold;
    color: #fff;
    background-color: #ec3440e7;
    font-size: 18px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: none;
}