/* 저자 : carpriceksy */

.main_content {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    min-height: calc(100vh - 86px);
}
.title{
    font-size: 30px;
    display: block;
    text-align: center;
    font-weight: normal;
    margin: 80px 0px 20px 0px;
    border-bottom:2px solid #e5e5e5;
    padding: 20px 0;
}
ul, li{
    list-style: none;
}
.content__grid{
    display: grid;
    gap: 20px;
    grid-template: repeat(2,1fr)/ repeat(12, 1fr);
}
.content__container-4{
    grid-column: span 4;
}

/* 검색창 */
.event_search{
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 5%;
    border-bottom: 2px solid #ec343f;
    width: 30%;
}
#e_search{
    width: 85%;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: none;
}
#e_search:focus{
    outline: none;
    /* border-bottom: 3px solid #ec343f; */
}
#e_search:focus::-webkit-input-placeholder{
    color: transparent;
}
#searchBtn{
    position: relative;
    left: 8px;
    bottom: 5px;
    width: 30px;
    line-height: 30px;
    font-size: 0;
    border: none;
    background: url(../../../img/icon_search.png) no-repeat center center;
    background-size: cover;
    cursor: pointer;
}

/* 게시물 수 */
.board_count{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #3c3c3c;
}
.board_count>span:first-child{
    color: #ec343f;
}
.board_count>span{
    font-weight: bold;
}

/* 정렬 */
.sortUl, .sortLi{
	float:left;
}
.sortLi{
	margin-right:8px;
}
.sortLi:first-child{
	margin-left:15px;
}
.sortLi::after{
	content:'|';
	opacity: 50%;
}
.sortLi:last-child::after{
	content:'';
}
.sortA{
	font-size: 15px;
	font-weight: normal;
	color:#555555;
}
.sortA:hover, .sortClicked{
	font-weight:bold;
	color:#000;
}

/* 이벤트 작성 버튼 */
.allCheckArea{
	float:right;
	position:relative;
	right:125px;
	top:23px;
}
#thCheck{
	width:25px;
	height:25px;
	position:relative;
	top:6px;
	left:5px;
}
.eventBtn{
    float: right;
    padding: 10px 20px;
    font-size: 15px;
    color: #fff;
}
.createEvent{
	background-color: #df434d;
    margin: 0px 5px 10px 5px;
}
.deleteCheckBtn{
	position:relative;
	left:83px;
	margin: 20px 5px 15px 5px;
    background-color: #3b3b3b;
}

/* 정렬 */
#sortvalue{
	font-size:14px;
	padding: 5px 10px;
	font-weight: bold;
	border: 1px solid #666666;
	margin-left: 10px;
	/* -webkit-appearance:none; */
}
#sortvalue:focus{
	outline :none;
}

/* 이벤트 박스 */
.eCheck{
	width:30px;
	height:30px;
}
.eventBox_area{
    clear: both;
    margin-top: 15px;
}
.eventBox{
    border: 1px solid #e9e9e9;
    margin: 10px 5px;
}
.eventBox:hover{
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: ease .2s;
}
.eventBox_img{
    text-align: center;
   	padding: 20px;
   	margin: 0 auto;
   	width: 320px;
    height: 140px;
    background-color: #fff;
}
.eventBox_img img{
	width:100%;
	height:100%;
	
}
.eventBox_txt{
    background-color: #f5f5f5;
    padding: 16px;
    height: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.box_title{
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: normal;
    white-space: nowrap;
}
.box_date{
    font-size: 12px;
    margin: 10px 0;
}
.event_none{
	display:block;
    text-align: center;
    font-size: 22px;
    padding: 50px 0;
}

/* 페이지 번호 */
.pagination{
    margin-top: 8%;
    margin-bottom: 5%;
    text-align: center;
}
.pagination li{
    display: inline-block;
    padding: 3px;
    /* border: 1px solid #e9e9e9; */
}
.pageBtn{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #333;
    border: 1px solid #c7c7c7;
    background: #fff;
    font-size: 15px;
    text-align: center;
}
.current, .pageNum:hover{
    border: 1px solid transparent;
    background-color: #df434d;
    color: #fff;
    font-weight: bold;
}
.next, .prev{
    text-indent: -9999px;
    margin: 0 25px;
}
.next{
    background: url(../../../img/page_arrow_right.png) no-repeat center center;
    background-size: 16px;
}
.prev{
    background: url(../../../img/page_arrow_left.png) no-repeat center center;
    background-size: 16px;
}

/* 반응형 */

/* 태블릿 */
@media screen and (max-width: 1200px) {
    .main_content {
        width: 100%;
        height: auto;
    }
    .content__grid{
        gap: 0;
    }
	.eventBox_img{
	   	width: 280px;
	    height: 140px;
	}
    .content__container-4{
        grid-column: span 4;
    }
    .board_count, .eventBtnArea{
    	margin: 10px;
    }
    .sortUl{
		position:relative;
		top:10px;
	}
    
    .pagination{
    	clear:both;
        margin: 0 auto;
        margin-top: 8%;
        margin-bottom: 5%;
    }
}

/* 모바일 */
@media screen and (max-width: 768px) {
    .main_content {
        width: 100%;
        height: auto;
    }
    .content__grid{
        display: block;
        margin: 10px 0;
    }

    /* 검색창 */
    .event_search{
        width: 50%;
        margin-top: 10%;
        margin-bottom: 0;
    }
    #e_search{
        font-size: 13px;
        width: 83%;
    }

	.event_none{
		font-size:18px;
	}
	
	.allCheckArea{
		top:-7px;
		right:100px;
	}
	
    /* 이벤트 작성 버튼 */
    .eventBtn{
    	font-size: 14px;
    	padding: 10px 15px;
    }

    .deleteCheckBtn{
		margin: -10px 5px 15px 5px;
	}

    /* 이벤트 박스 */
 	.eventBox_img{
	   	width: 320px;
	    height: 160px;
	    padding-bottom: 41px;
	}
    
    /* 페이지 */
    
    .pagination li{
        padding: 1px;
    }
    .pageBtn{
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 13px;
    }
    .prev, .next{
        background-size: 12px;
        margin: 0 5px;
    }
}
