/* 저자 : carpriceksy */

.main_content {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    min-height: calc(100vh - 86px);
}
.title{
    font-size: 30px;
    display: block;
    text-align: center;
    font-weight: normal;
    margin: 80px 0px 40px 0px;
    border-bottom:2px solid #e5e5e5;
    padding: 20px 0;
}
ul, li{
    list-style: none;
}

/* 이벤트 상단 이미지 */
.event_detail_img img{
    width: 100%;
}

/* 이벤트 상단 바 */
.top_title{
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 8px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 20px;
}
.top_title>p{
    display: inline-block;
}
.top_title>span{
    display: inline-block;
    font-size: 14px;
    padding-left: 5px;
    color: rgba(51, 51, 51, 0.904);
}
.event_detail_topbar>p{
    font-size: 25px;
}
/* 이벤트 내용 */
.event_detail_txt{
    margin-top: 40px;
    font-size: 18px;
}

/* 알림 */
.inform{
    margin: 40px 0;
}
.inform>strong{
    font-size: 18px;
}
.inform>img{
    width: 30px;
    padding-left: 3px;
}
.inform_content{
    font-size: 15px;
    margin-top: 15px;
    border: 1px solid #e5e5e5;
    padding: 10px 15px;
    line-height: 20px;
    height: 42px;
}

/* 수정, 삭제 버튼 */
.eventReadBtn{
    text-align: center;
}
.eventReadBtn .readBtn{
    padding: 10px 20px;
    background-color: #3b3b3b;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 5px;
}

/* 태블릿 */
@media screen and (max-width: 1200px) {
    .main_content {
        width: 100%;
        height: auto;
    }
    
}

/* 모바일 */
@media screen and (max-width: 768px) {

}