/* 저자 : carpriceksy */

.main_content {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    min-height: calc(100vh - 86px);
}
.title{
    font-size: 30px;
    display: block;
    text-align: center;
    font-weight: normal;
    margin: 80px 0px 20px 0px;
    border-bottom:2px solid #e5e5e5;
    padding: 20px 0;
}
ul, li{
    list-style: none;
}
.content__grid{
    display: grid;
    gap: 20px;
    grid-template: repeat(2,1fr)/ repeat(12, 1fr);
}
.content__container-4{
    grid-column: span 4;
}

/* 검색창 */
.event_search{
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 5%;
    border-bottom: 2px solid #ec343f;
    width: 30%;
}
#e_search{
    width: 85%;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: none;
}
#e_search:focus{
    outline: none;
    /* border-bottom: 3px solid #ec343f; */
}
#e_search:focus::-webkit-input-placeholder{
    color: transparent;
}
#searchBtn{
    position: relative;
    left: 8px;
    bottom: 5px;
    width: 30px;
    line-height: 30px;
    font-size: 0;
    border: none;
    background: url(../../../img/icon_search.png) no-repeat center center;
    background-size: cover;
    cursor: pointer;
}

/* 게시물 수 */
.board_count{
    float: left;
    margin-bottom: 10px;
    font-size: 16px;
    color: #3c3c3c;
}
.board_count>span:first-child{
    color: #ec343f;
}
.board_count>span{
    font-weight: bold;
}

/* 이벤트 작성 버튼 */
.createEvent_div{
    float: right;
}
.createEvent{
    margin-right: 5px;
    padding: 10px 20px;
    background-color: #3b3b3b;
    color: #fff;
    font-size: 15px;
}

/* 이벤트 박스 */
.eventBox_area{
    clear: both;
    margin-top: 15px;
}
.eventBox{
    border: 1px solid #e9e9e9;
    margin: 10px 5px;
    height: 100%;
}
.eventBox:hover{
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: ease .2s;
}
.eventBox_img{
    text-align: center;
   	padding: 40px 20px;
    height: 66%;
    background-color: #fff;
}
.eventBox_img img{
	background-size: cover;
	
}
.eventBox_txt{
    background-color: #f5f5f5;
    padding: 16px;
    height: 35%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.box_title{
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: normal;
    white-space: nowrap;
}
.box_date{
    font-size: 12px;
    margin: 10px 0;
}
.event_none{
	display:block;
    text-align: center;
    font-size: 22px;
    padding: 50px 0;
}

/* 페이지 번호 */
.pagination{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.pagination li{
    display: inline-block;
    padding: 3px;
    /* border: 1px solid #e9e9e9; */
}
.pageBtn{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #333;
    border: 1px solid #c7c7c7;
    background: #fff;
    font-size: 15px;
    text-align: center;
}
.current, .pageNum:hover{
    border: 1px solid transparent;
    background-color: #df434d;
    color: #fff;
    font-weight: bold;
}
.next, .prev{
    text-indent: -9999px;
    margin: 0 25px;
}
.next{
    background: url(../../../img/page_arrow_right.png) no-repeat center center;
    background-size: 16px;
}
.prev{
    background: url(../../../img/page_arrow_left.png) no-repeat center center;
    background-size: 16px;
}

/* 반응형 */

/* 태블릿 */
@media screen and (max-width: 1200px) {
    .main_content {
        width: 100%;
        height: auto;
    }
    .content__grid{
        gap: 0;
    }
    .eventBox{
        margin: 0;
    }
    .content__container-4{
        grid-column: span 4;
    }
    .board_count, .createEvent_div{
    	margin: 10px;
    }
}

/* 모바일 */
@media screen and (max-width: 768px) {
    .main_content {
        width: 100%;
        height: auto;
    }
    .content__grid{
        display: block;
        margin: 10px 0;
    }

    /* 이벤트 필터 탭 */
    .event_tabBox li p{
        font-size: 15px;
    }

    /* 필터 탭 메뉴 */
    .event_tabMenu{
        padding-top: 0px;
    }
    .event_tabMenu li a{
        width: 50%;
        border-right: 1px solid #e5e5e5;
        font-size: 14px;
    }
    .event_tabMenu li a span{
        border: none;
    }
    .event_tabMenu li a:nth-child(2n) span{
        border-right: none;
    }

    /* 검색창 */
    .event_search{
        width: 50%;
        margin-top: 10%;
        margin-bottom: 0;
    }
    #e_search{
        font-size: 13px;
        width: 83%;
    }

	.event_none{
		font-size:18px;
	}
	
    /* 이벤트 작성 버튼 */
    .createEvent_div{
        text-align: center;
        margin: 50px -30px 0;
    }

    /* 이벤트 박스 */
    .eventBox{
        margin: 0;
    }
    .eventBox_img{
        padding: 10% 0;
    }
    
    /* 페이지 */
    .pagination{
        margin: 0 auto;
    }
    .pagination li{
        padding: 1px;
    }
    .pageBtn{
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 13px;
    }
    .prev, .next{
        background-size: 12px;
        margin: 0 5px;
    }
}
