/* 저자 : 고결 */
.login_wrap{
    font-size: 14px;
    line-height: 1.4;
    color: #333333;
    display: block;
    width:100%;
    height:100%; 
    background:rgba(0,0,0,0.5);
    position:fixed;
    top:0; 
    left:0; 
    z-index:1000;
    visibility:hidden;
    opacity:0;
    transition:all 0.3s ease;
}
.login_wrap input, input:focus{
    outline: none !important;
    box-shadow: none!important;
}
.login_wrap button{
    overflow: visible;
}

.login_container{
    border: 1px solid #f5f4f0;
    position: absolute;
    width: 400px;
    height: 680px;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    max-width: 500px;
    max-height: calc(100vh - 150px);
    transform: translate(-50%,-50%);
    z-index: 5;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
}
.login_wrap .login_container{ z-index:10000;   
    position:fixed; left:50%; top:50%; 
    transform:translate(-50%, -50%); 
     background:#fff; border-radius:6px;}
.login_header{
    border-bottom: 0;
    height: 54px;
    padding: 16px 20px;
    position: relative;
    color: #333;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
}
.login_header span {
    font-size: 20px;
}
.login_header .login_icon{
    vertical-align: middle;
}

/* .login_header .login_X a{
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 15px;
    line-height: 0;
    cursor: pointer;
    background: url(../images/7122430_x_icon.png) no-repeat center;
    background-size: cover;
    text-indent: -9999px;
    text-decoration: none;
    overflow: hidden;
} */
.login_wrap .icon button{
    display: inline-block  !important;
    width: 45px !important;
    position: absolute !important;
    top: 50% !important;
    right: 0 !important;
    transform: translateY(-50%) !important;
    padding: 15px !important;
    line-height: 0 !important;
    border: 0 !important;
    background: none !important;
    cursor: pointer !important;
    color: rgb(220, 220, 220) !important;
}
.login_wrap .icon button>svg{
    position: absolute !important;
    top: 10% !important;
    right: 10px !important;
    cursor: pointer !important;
    width: 24px !important;
    color: rgb(220, 220, 220) !important;
    /* color: #f5f4f0; */
}
.login_wrap .login_body{
    padding: 10px;
    background-color: #fff;
}
.login_wrap .body_text{
    text-align: center;
    word-break: break-word;
    margin-top: 12px;
    margin-bottom: 40px;
}

.login_wrap .body_text h3{
    line-height: 1.54;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.login_wrap .body_input{
    position: relative;
    overflow: hidden;
    z-index: 1;
    bottom:20px;
}
.login_wrap .body_email{
    position: relative;
    color: #767676;
    font-weight: 0;
    font-family: none;
    
}
.login_wrap .style_email{
    position: relative;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    right: -10px;
}
.login_wrap .body_pw{
    position: relative;
    color: #767676;
    font-weight: 0;
    font-family: none;
    
}
.login_wrap .style_pw{
    position: relative;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    right: -10px;
}

.login_wrap label{
    display: inline-block;
    max-width: 100%;
}
.login_wrap .body_email{
    margin-top: 18px;
}
.login_wrap .body_email input[type=email] {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    margin-top: 9px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    font-size: 15px;
    color: #333;
    appearance: none;
    resize: none;
}
.login_wrap .body_email input[type=email]:focus {
    border: 1px solid #36f;
}
.login_wrap .body_email input[type=email]::placeholder{
    color: #cacaca;
}
.login_wrap .body_pw input[type=password] {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    margin-top: 9px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    font-size: 15px;
    color: #333;
    appearance: none;
    resize: none;
}
.login_wrap .body_pw input[type=password]:focus {
    border: 1px solid #36f;
}
.login_wrap .body_pw input[type=password]::placeholder{
    color: #cacaca;
}
.login_wrap .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54px;
    border: 0;
    border-radius: 27px;
    background-color: #36f;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.login_wrap .body_button a{
    text-decoration: none;
}
.login_wrap .email_button:hover{
    background-color: #4346f3;
}

.login_wrap .body_find{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color : #969696;
    font-family : none !important;
    cursor: pointer;
    margin-top : 11px;
    
}
.login_wrap .body_find span{
    text-decoration: none;
}
.login_wrap .body_find span:hover{
    text-decoration: underline;
}
.login_wrap .body_find span:active{
    text-decoration: none;
}

.login_wrap .body_button_next{
    text-align: center;
    font-weight: 500 !important;
    color: #969696;
    margin-top: 16px;
    font-size: 14px;
}

.login_wrap .body_button_social{
    position: relative;
    width: 100%;
    height: 65px;
    margin-top: 30px;
}
.login_wrap .body_button_social .social_button{
    display: inline-block;
    position: relative;
}
.login_wrap .body_input .social_button{
    width: 56px;
    height: 56px;
    margin: 0 auto 8px;
    color: #737373;
    border-radius: 28px;
}
.login_wrap .body_button_social .social_button{
    position: absolute;
    left: 28%;
    cursor: pointer;
} 
.login_wrap .body_input .social_button .button_google{
    display: inline-block;
    border: 1px solid #e1e2e3;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    left: -20px;
    /* background:url(../images/google.png) no-repeat center; */
    background-size: cover;
    border-radius: 27px;
}
.login_wrap .body_input .social_button .button_google img{
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 27px;
    right: -1px;

}

.login_wrap .body_input .social_button .button_kakao{
    border: 1px solid #e1e2e3;
    background-color: #fee500;
    left: 120px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
}
.login_wrap .body_input .social_button .button_kakao img{
    position: absolute;
    width: 54px;
    height: 54px;
    border-radius: 27px;
}


.login_wrap .body_button_social .social_button .social_title{
    position: absolute;
    top: 62px;
    margin-top: 10px;
    font-size: 13px !important;
    font-weight: 500 !important;
    color: black !important;
    text-align: center !important;
    cursor: pointer !important;
}
.login_wrap .body_button_social .social_button .social_title:hover{
    text-decoration: underline;
}

.login_wrap .body_button_social .social_button .social_title.google_title{
    left: -15px;
}
.login_wrap .body_button_social .social_button .social_title.kakao_title{
   left:130px;
}
.login_wrap .login_footer{
    margin-top: 40px !important;
    text-align: center !important;
    font-size: 13px !important;
    line-height: 18px !important;
    color: #767676 !important;
    font-family: none !important;
}
.login_wrap .login_footer a{
    color: #3336ff !important;
    text-decoration: underline;
    font-size: 13px;
}
