/* 저자 : 고결 */
:root{
  --button-font-: none !important;
}
.join_wrap{
  font-size: 14px;
    line-height: 1.4;
    color: #333333;
    display: block;
    width:100%;
    height:100%; 
    background:rgba(0,0,0,0.5);
    position:fixed;
    top:0; 
    left:0; 
    z-index:9000;
    visibility:hidden;
    opacity:0;
    transition:all 0.3s ease;
}
.join_wrap input,
.join_wrap input:focus {
  outline: none !important;
  box-shadow: none !important;
}
.join_wrap button {
  overflow: visible !important;
}

.join_container {
  border: 1px solid #f5f4f0;
  position: absolute;
  width: 400px;
  height: 785px;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  max-width: 500px;
  max-height: calc(100vh - 150px);
  transform: translate(-50%, -50%);
  z-index: 5;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
}
.join_wrap .join_container {
  z-index: 10000 !important;
  position: fixed !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  background: #fff !important;
  border-radius: 6px !important;
}
.join_header {
  border-bottom: 0 !important;
  height: 54px !important;
  padding: 16px 20px !important;
  position: relative !important;
  color: #333 !important;
  text-align: center !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  word-wrap: break-word !important;
}
.join_header .join_icon {
  vertical-align: middle !important;
}
.join_wrap [class^="icon-"] {
  font-family: "icomoon" !important;
  speak: none !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1 !important;
}
.icon button {
  display: inline-block !important;
  width: 45px !important;
  position: absolute!important;
  top: 50%!important;
  right: 0 !important;
  transform: translateY(-50%) !important;
  padding: 15px !important;
  line-height: 0 !important;
  border: 0 !important;
  background: none !important;
  cursor: pointer !important;
  color: rgb(220, 220, 220) !important;
}
.icon button + button {
  display: inline-block !important;
  width: 45px !important;
  position: absolute !important;
  top: 50% !important;
  left: 0 !important;
  transform: translateY(-50%) !important;
  padding: 15px !important;
  line-height: 0 !important;
  border: 0 !important;
  background: none !important;
  cursor: pointer !important;
  color: rgb(220, 220, 220) !important;
}
.join_wrap svg:not(:root) {
  overflow: hidden !important;
}
.icon button > svg {
  position: absolute !important;
  top: 10% !important;
  right: 10px !important;
  cursor: pointer !important;
  width: 24px !important;
  color: rgb(220, 220, 220) !important;
  /* color: #f5f4f0; */
}
.join_body {
  padding-bottom: 0 !important;
  padding: 20px !important;
  height: 813px !important;
}
.name_wrap {
  position: relative !important;
  padding-bottom: 22px !important;
  color: #767676 !important;
}
.user_info {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-family: none !important;
}
.user_email_input {
  margin-top: 11px !important;
}
.join_wrap #userEmail:focus{
	border: 1px solid #36f;
}
.join_wrap .error{
	font-size:12px;
}
.head_span{
  color: rgb(118, 118, 118) !important;
}
.user_email_space{
  margin-bottom: 20px !important;
}
.user_name_input {
  margin-top: 11px !important;
}
.join_wrap .user_name_input input[type="text"] {
  width: 100%;
  height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #e1e2e3;
  background-color: #fff;
  font-size: 15px;
  color: #333;
  appearance: none;
  resize: none;
  box-shadow: none;
}
.user_name_input input:focus {
  border: 1px solid #36f;
}
.join_space {
  bottom: 0 !important;
  margin-top: 6px !important;
  font-size: 12px !important;
}

.user_info {
  font-size: 14px !important;
  font-weight: 400 !important;
}
label {
  display: inline-block !important;
  max-width: 100% !important;
}
.user_pw_input {
  margin-top: 11px !important;
}

.join_wrap input[type="password"] {
  width: 100% !important;
  height: 50px !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  border-radius: 5px !important;
  border: 1px solid #e1e2e3;
  background-color: #fff !important;
  font-size: 15px !important;
  color: #333 !important;
  appearance: none !important;
  resize: none !important;
}
.join_wrap input[type="password"]:focus {
  border: 1px solid #36f;
}
.user_pw_space {
  bottom: 0 !important;
  margin-top: 6px !important;
  font-size: 12px !important;
  font-family: none !important;
  color: darkgray !important;
  margin-bottom : 11px !important;

}

.user_pwre {
  position: relative !important;
  padding-bottom: 22px !important;
  color: #767676 !important;
}
.user_pwre_input {
  margin-top: 11px !important;
}
.mobile_wrap {
  padding-bottom: 22px !important;
}
.mobile_wrap_inner {
  padding-bottom: 0 !important;
  position: relative !important;
  color: #767676 !important;
}
.user_phone_body {
  margin-top: 11px !important;
}

#selectbox{
  display: inline-block !important;
  height: 50px !important;
  border: 1px solid #e1e2e3 !important;
}
.input_select > select {
  margin-top: 5px !important;
  margin-bottom: 10px !important;
  position: relative !important;
  top: -1px !important;
  left: 0 !important;
  width: 100% !important;
  padding: 0 15px !important;
  height: 50px !important;
  font-size: 15px !important;
  border-radius: 5px !important;
  border: 1px solid #e1e2e3 !important;
  color: #333 !important;
  opacity: 1 !important;
}
#selectbox:focus{
  outline: 1px solid #36f !important;
}
select {
  text-transform: none !important;
  margin: 0 !important;
}
select:not(:-internul-list-box) {
  overflow: visible !important;
}

.mobile_input {
  display: flex !important;
  margin-top: 11px !important;
}
.join_wrap input[type="text"] {
  width: 100%;
  height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #e1e2e3;
  background-color: #fff;
  font-size: 15px;
  color: #333;
  appearance: none;
  resize: none;
}
.join_wrap input[type="text"]:focus {
  border: 1px solid #36f;
}
.mobile_input > input {
  flex: 1 1 !important;
}

.mobile_input_space {
  height: 10px !important;
}
.mobile_input_space {
  position: relative !important;
}
.mobile_input_code_space {
  bottom: 0 !important;
  margin-top: 6px !important;
  font-size: 12px !important;
}
.addr_wrap_inner {
  margin-bottom: 30px !important;
}

.addr_num {
  position: relative !important;
  display: flex !important;
  box-sizing: border-box !important;
  color: #767676 !important;
}
.addr_num .addr_num_text {
  position: absolute !important;
  top: -28px !important;
}
.addr_num > input {
  flex: 1 1 !important;
}
.addr_num.addr_button {
  width: 100% !important;
  height: 50px !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  border-radius: 5px !important;
  border: 1px solid #e1e2e3 !important;
  font-size: 15px !important;
  resize: none !important;
  color: #ccc !important;
  cursor: pointer !important;
  font-family: none !important;
}
.addr_button {
  cursor: pointer !important;
  position: relative !important;
  margin-left: 10px !important;
  min-width: 117px !important;
  padding: 16px 15px 14px !important;
  border-radius: 5px !important;
  background-color: #36f !important;
  font-weight: 700!important;
  color: #fff !important;
  font-family: none !important;
}
.addr_button span{
	font-size : 13px;
}
.addr_button:hover{
  background-color: #4346f3 !important;
}
.addr_button span{
  font-size: 13px !important;
}

.addr_input {
  margin-top: 11px !important;
}
.addr_input_text_detail{
  margin-top: 11px !important;
}
.acnum_wrap {
  padding-bottom: 22px !important;
}
.acnum_wrap_inner {
  padding-bottom: 0 !important;
  position: relative !important;
  color: #767676 !important;
}
.acnum_body {
  margin-top: 11px !important;
}
.acunum_input_select > select {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  padding: 0 15px !important;
  height: 50px !important;
  font-size: 15px !important;
  border-radius: 5px !important;
  border: 1px solid #e1e2e3 !important;
  color: #333 !important;
  opacity: 0 !important;
}
.join_wrap select {
  text-transform: none !important;
  margin: 0 !important;
}
.join_wrap select:not(:-internul-list-box) {
  overflow: visible !important;
}
.join_wrap option {
  font-weight: normal !important;
  display: block !important;
  white-space: nowrap !important;
  min-height: 1.2em !important;
  padding: 0px 2px 1px !important;
}
.acnum_arrow {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  right: 10px !important;
  font-size: 20px !important;
  color: #333 !important;
  z-index: -1 !important;
}
.acnum_arrow::before {
  content: "" !important;
  width: 10px !important;
  height: 10px !important;
  border-top: 1px solid black !important;
  border-right: 1px solid black !important;
  display: inline-block !important;
  transform: rotate(45deg) !important;
  position: absolute !important;
  top: -5px !important;
  right: 10px !important;
}
.acnum_input {
  display: flex !important;
  margin-top: 11px !important;
}

.agree_wrap {
  margin-top: 0px !important;
}
.agree_wrap_inner {
  color: #ececec !important;
  height: auto !important;
  padding-bottom: 14px !important;
  margin-bottom: 15px !important;
  margin-left: 30px !important;
}

.agree_checkbox_all {
  color: #333 !important;
  font-size: 15px !important;
  flex: 1 1 !important;
  font-family: none !important;
}
.join_wrap input[type="checkbox"] {
  position: absolute !important;
  left: 1px !important;
  vertical-align: top !important;
  cursor: pointer !important;
  margin: 4px 0 0 30px !important;
  box-sizing: border-box !important;
  padding: 0 !important;
}

.agree_wrap_inner2 {
  color: #ececec !important;
  margin-left: 30px !important;
}
.agree_checkbox_pilsoo {
  color: #939393 !important;
  font-family: none !important;
}
.agree_checkbox_pilsoo span {
  color: #939393 !important;
  padding-left: 5px !important;
}
.agree_link {
  float: right !important;
  font-size: 13px !important;
  line-height: 19px !important;
  color: #767676 !important;
  text-decoration: none !important;
  
}
.join_wrap a {
  cursor: pointer !important;
  position: absolute !important;
  right: 20px !important;
}
.agree_wrap_inner3 {
  margin-top: 15px !important;
  color: #ececec !important;
  margin-left: 30px !important;
}
.agree_checkbox_eventmail {
  color: #939393 !important;
  font-family: none !important;
}
.set_join_wrap {
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 3 !important;
}
.set_join_wrap::before {
  content: "" !important;
  width: 100% !important;
  height: 10px !important;
  display: block !important;
  background: linear-gradient((180deg, rgba(255, 255, 255, 0), #fff));
}
.join_wrap input[type=submit]{
  margin-top: 20px;
  margin-bottom:10px;
  background-color: #36f;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 100%;
  height: 54px;
  border-radius: 27px;
  font-weight: 600;
  z-index: 100;
}
.join_wrap input[type=submit]:hover{
  background-color: #4346f3;
}
.join_wrap input[type="password"]::placeholder {
  color: #cacaca !important;
}
.join_wrap input[type="text"]::placeholder {
  color: #cacaca !important;
}

