/* 저자 : 고결 */
.pwShowWrap div{
    margin: 0;
    padding: 0;
    display: block;
}
.pwShowWrap table{
    border-collapse: collapse;
    border-spacing: 0;
}
.pwShowWrap .notice_detail{
    width: 1070px;
    margin: 0 auto;
}
.pwShowWrap .title{
    font-size: 30px;
    display: block;
    text-align: center;
    font-weight: normal;
    margin: 50px 0px 40px 0px;
    border-bottom:2px solid #e5e5e5;
    padding: 20px 0;
    line-height: 10px;
    align-items: center;
}
.pwShowWrap .detail_title{
    position: relative;
    display: inline;
    font-size: 24px;
    padding: 20px;
    color: #545861;
    float: left;
    width: 100%;
    top: -40px;
    border-bottom: 2px solid #e5e5e5;
}
.pwShowWrap .detail_content{
    clear: both;
    float: left;
    width: 100%;
    min-height: 250px;
    padding: 30px 20px;
    border-bottom: 1px solid#e5e5e5;
    font-size: 17px;
    color: #333333;
    word-break: break-all;
    margin : 0 auto;
}
.pwShowWrap .notice_detail_nav{
    position: relative;
    display: inline-block;
    padding : 13px 0;
    left: 78%;
    margin-top: 20px;
}

.pwShowWrap .pwshow_table{
    position: relative;
    top: -50px;
    width: 100%;
    border-collapse: collapse;
}
.pwShowWrap tbody{
    display: table-row-group;
    vertical-align: middle;
}

.pwShowWrap .pw_show_body_wrap{
    padding: 10px;
}
.pwShowWrap .pw_show_body_inner{
    position: relative;
    padding-bottom: 32px;
    color: #767676;
}
.pwShowWrap .id_show_body_text {
    position: absolute;
    margin: 40px auto;
}
.pwShowWrap .id_show_body_text h3{
    margin: 0 auto;
    text-align: center;
}
.pwShowWrap .id_show_body_text h2{
    margin: 0 auto;
    text-align: center;
    color: black;
}
.pwShowWrap .id_show_body_text h3{
    margin: 0 auto;
    text-align: center;
}
.pwShowWrap .info_userpw {
	margin-top: 55px;
    font-size: 15px;
    background-color:#FCFCFC;
    color : #767676;
    border: 1px solid #FCFCFC !important;
    height:25px;
}
.pwShowWrap .info_newPw{
    margin-top: 55px;
    height: 25px;
    border:1px solid #e1e2e3;
}
.pwShowWrap .newPw {
    font-size: 14px;
    color: #969696;
}
.pwShowWrap .info_newPwRe{
    margin-top: 30px;
    height: 25px;
    border:1px solid #e1e2e3;
}
.pwShowWrap .pwSubmit_btn{
    width: 100px;
    height: 54px;
    line-height:54px;
    border: 0;
    border-radius: 27px;
    background-color: #122236;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.pwShowWrap .pwSubmit_btn a {
    color: #fff;
}
.pwShowWrap .idSubmit_btn{
    margin-right: 15px;
    width: 100px;
    height: 54px;
    line-height:54px;
    border: 0;
    border-radius: 27px;
    background-color: #122236;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.pwShowWrap .idSubmit_btn a {
    color: #fff;
}