/* 저자 : 고결 */
.pw_wrap{
    font-size: 14px;
    line-height: 1.4;
    color: #333333;
    display: block;
    width:100%;
    height:100%; 
    background:rgba(0,0,0,0.5);
    position:fixed;
    top:0; 
    left:0; 
    z-index:9000;
    visibility:hidden;
    opacity:0;
    transition:all 0.3s ease;
}
.pw_wrap input, input:focus{
    outline: none !important;
    box-shadow: none!important;
}
.pw_wrap button{
    overflow: visible;
}
.pw_wrap .pw_container{
    border: 1px solid #f5f4f0;
    position: absolute;
    width: 400px;
    height: 330px;
    /* overflow-y: auto; */
    top: 50%;
    left: 50%;
    max-width: 500px;
    max-height: calc(100vh - 150px);
    transform: translate(-50%,-50%);
    z-index: 5;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
}
.pw_wrap .pw_container{ z-index:10001;   
    position:fixed; left:50%; top:50%; 
    transform:translate(-50%, -50%); 
     background:#fff; border-radius:6px; }
.pw_wrap .pw_header{
    border-bottom: 0 !important;
    height: 54px !important;
    padding: 16px 20px !important;
    position: relative !important;
    color: #333 !important;
    text-align: center !important;
    font-size: 16px !important;
    font-weight: 600 !important; 
    word-wrap: break-word !important;

}
.pw_wrap .pw_header .pw_icon{
    vertical-align: middle;
}

.pw_wrap .icon button{
    display: inline-block;
    width: 45px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    line-height: 0;
    border: 0;
    background: none;
    cursor: pointer;
    color: rgb(220, 220, 220);
}
.pw_wrap .icon button+button{
    display: inline-block;
    width: 45px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 15px;
    line-height: 0;
    border: 0;
    background: none;
    cursor: pointer;
    color: rgb(220, 220, 220);
}
.pw_wrap svg:not(:root){
    overflow: hidden;
}
.pw_wrap .icon button>svg{
    position: absolute;
    top: 10%;
    right: 10px;
    cursor: pointer;
    width: 24px;
    color: rgb(220, 220, 220);
    /* color: #f5f4f0; */
}
/* .icon button>svg+svg{
    position: absolute;
    top: 20%;
    left: 10px;
    width: 30px;
} */
.pw_wrap .pw_body_wrap{
    padding: 20px;
}
.pw_wrap .pw_body_inner{
    position: relative;
    padding-bottom: 22px;
    color: #767676;
}
.pw_wrap .user_info{
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: none !important;
}
.pw_wrap .input_pw{
    margin-top: 11px;
}
.pw_wrap input[type=password]{
    width: 100%;
    height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    font-size: 15px;
    color: #333;
    appearance: none;
    resize: none;
}
.pw_wrap input[type=password]::placeholder{
    color: #cacaca;
}
.pw_wrap input[type=password]:focus{
    border: 1px solid #36f;
}
.pw_wrap .pw_space{
    bottom: 0;
    margin-top: 40px;
    font-size: 12px;
}
.pw_wrap #pw_login{
    margin-top: 10px;
}
.pw_wrap .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54px;
    border: 0;
    border-radius: 27px;
    background-color: #36f;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.pw_wrap .pw_btn:hover {
    background-color: #4346f3;
}
.pw_wrap .pw_btn2{
    background-color: transparent;
    font-size: 14px;
    color: #36f;
    margin-top: 10px;
}
.pw_wrap .pw_btn2 a{
    background-color: transparent;
    font-size: 14px;
    color: #36f;
    margin-top: 10px;
    font-family: none !important;
}
.pw_wrap .pw_btn2:hover{
    text-decoration: underline;
}



